<div class = "footbar">
       <ul class = "foot_list">
           
           <li class = "foot">
               <a href = "/about" class = "nav_link"> About Us</a>
           </li>
           
           <li class = "foot">
                <a href = "/contact" class ="nav_link"> Contact Us</a>
           </li>
           
           <li class = "foot">
               <a href = "/mission" class = "nav_link"> Mission Statement </a>
           </li>
       </ul>
    
</div>
