<article class = "product_item">

	<img class = "product_image" onclick="item_click(this)" src = {{memeURL}} />

	<p class = "meme_name always_hidden">{{name}}</p>
	<p class = "description always_hidden">{{description}}</p>

	<p class = "product_price">${{price}}</p>

</article>
