<article class = "product_item">

	<a href = "#" class = "product_image_link"><img id = "product_image" src = {{memeURL}}></a>

	<p class = "always_hidden">{{name}}</p>
	<p class = "always_hidden">{{description}}</p>

	<p class = "product_price">${{price}}</p>

</article>
