<h1>About Us</h1>
<p>>The child of bored college students, when we thought about doing a final project, we bounced around hundreds of ideas. Eventually we settled upon this mock storefront for meme merchandise. We hope you enjoy the prototype we have here to present to you.</p>