<main class = "generic_container">

	<h2>About Us</h2>

	<p>This is the child of bored college students, created for a final project.</p>
	<p>We bounced around hundreds of ideas.</p>
	<p>Eventually, we settled upon this mock storefront for meme merchandise.</p>
	<p>	We hope you enjoy the prototype we have here to present to you.</p>

</main>