<main>

    <div class = "checkout_container">
        <div class = "Payment_Method">
        Payment Method: <input type = "text" name="Card">
        Card Number: <input type = "text" name = "Card_Number">
        Expires: <input type = "text" name = "Expire">
        </div>

        <div class = "Billing">
        First Name: <input type="text" name = "FName">
        Last Name: <input type="text" name = "LName">
        Billing Address: <input type = "text" name = "Address">
        Country: <input type ="text" name= "Country">
        State: <input type = "text" name = "State">
        Zip: <input type = "text" name = "Zip">
        Phone Number: <input type = "text" name = "Phone">
        </div>
    </div>

    <div class ="Buttons">
        
    
        <a href = "/" ><button type="button" class = "checkout_button">Cancel</button></a>
       
        <a href = "/Thanks"><button type="button" class = "checkout_button">Checkout</button></a>
    


    </div>


</main>
