<div id="item-modal-backdrop" class="hidden"></div>
    <div id="item-modal-create" class="hidden">
      <div class="modal-dialog">

        <div class="modal-image">
          <h4>Product Name</h4>
          <button type="button" class="modal-close-button">&times;</button>
        </div>

        <div class="modal-body">
          <div class="item-image-input">
            <img class = "item_image" src = {{memeURL}}>
          </div>

          <div class="item-image-description">
            <p>Product description</p>
            <p><b>${{price}}</b></p>
          </div>
        </div>

        <div class="modal-remove-item">
          <button type="button" class="modal-remove-item-button">Remove Item</button>
        </div>

      </div>