button:hover{

    cursor: pointer;
    opacity: 0.75;

}

img {

	max-width: 100%;
	max-height: 100%;

	object-fit: cover;

}

html {

	font-family: Roboto, sans-serif;

}

body {

	background-color: hsl(0, 0%, 90%);

}

header {

	display: block;
	height: 75px;
	width: 100%;

	position: absolute;
	left: 0;
	top: 0;

	background-color: rgb(111, 124, 145);

}


nav {

	display: block;
	height: 100%;

	position: relative;
	bottom: 1px;

	font-weight: normal;
	font-size: 15pt;

	padding: 0 12.5%;

}

.nav_list {

	display: flex;
	align-items: center;

	height: 100%;
	width: 100%;

	position: relative;

	margin: 0;
	padding: 0;

}

.nav {

	display: inline-block;

	position: relative;

	padding-right: 3.91vw;

}

.nav_link {

	display: block;

	text-decoration: none;
	color: white;

}

.nav_link:hover {

	opacity: 0.75;

}

#site_title {

	position: relative;
	bottom: 2px;

	font-weight: bold;
	font-size: 20pt;

	margin: 0;
	padding: 0;

	/* just the Amazon logo color, uncomment if needed

	color: #ff9900;

	*/

}

#nav_search {

	width: 31.25vw;

	margin: 15px 0;
	padding-right: 0;

}

#nav_cart {

	position: absolute;
	right: 0;
	bottom: auto;

	padding-right: 0;

}

#search_box {

	width: 75%;

	border: 1px solid white;
	border-radius: 5px;

	background-color: rgba(0, 0, 0, 0);

	font-family: Roboto, sans-serif;
	color: white;

	padding: 5px;

}

#search_box:focus {

	outline: none;

	background-color: rgba(0, 0, 0, 0.1);

}

#search_button {

	height: 30px;
	width: 40px;

	position: relative;
	top: 2px;

	background-color: rgba(0, 0, 0, 0);
	border: 0px;

	font-size: 15pt;
	color: white;

}

#search_button:focus {

	outline: none;

}


main {

	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	width: 75%;

	position: relative;
	top: 75px;

	margin: auto;
	padding: 50px;

}

main h2 {

	font-size: 20pt;

	margin: 0.5em 0;
	padding: 0;

}

main p {

	font-size: 15pt;

	margin: 0.5em 0;
	padding: 0;

}




.product_item {

	display: block;
	height: 12.5vw;
	width: 12.5vw;

	min-height: 200px;
	min-width: 200px;

	position: relative;

	margin: 0 20px;
	margin-bottom: 40px;

}

.product_name {

	display: block;
	width: 100%;

	position: absolute;
	left: 0;
	top: 0;

	color: white;
	background-color: rgb(111, 124, 145);

	text-align: center;

	margin: auto;
	padding: 0;

}

.product_image {

	display: block;
	width: 100%;
	height: 100%;

	border-radius: 10%;

	margin: auto;

}

.product_image:hover {

	opacity: 0.75;
	cursor: pointer;

}

.product_price {

	position: absolute;
	right: 0;
	bottom: 0;

	color: white;
	background-color: rgb(111, 124, 145);

	margin: 0;
	padding: 0 0.5em;

}


.generic_container {

	display: block;

	text-align: center;

}


.cart_container{

	flex-direction: column;
	flex-wrap: nowrap;

}

.cart_headers {

	display: flex;
	align-items: center;

	height: 45px;

	list-style-type: none;

	margin: auto;
	margin-bottom: 1em;

	padding: 0;

}

.cart_headers li {

	display: inline-block;

}

.big_header {

	width: 120px;

	font-size: 20pt;

	padding: 0 25px;

}

.filler_header {

	width: 30vw;

	padding-right: 25px;

}

.small_header {

	width: 7.8125vw;

	font-size: 15pt;

	padding-right: 25px;

}

.cart_item {

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;

	height: 150px;

	position: relative;

	border: 1px solid;
	border-color: rgb(200, 200, 200);
	border-radius: 25px;

	margin: auto;
	margin-bottom: 10px;

}

.cart_item_image {

	display: block;
	height: 120px;
	width: 120px;

	margin: 0 25px;
}

.item_info {

	display: block;
	width: 30vw;

	padding-right: 25px;

}

.item_price, .item_quantity {

	display: block;
	width: 7.8125vw;

	position: relative;

	padding-right: 25px;
}

.cart_container a {
	
	display: block;
	
	margin: auto;
	margin-top: 50px;
	padding: 0;
	
}

.cart_button {
	
	background-color: rgb(111, 124, 145);
    color: white;
    margin: auto;
    position: relative;
	
	border: none;
	border-radius: 5px;
	
	font-size: 10pt;
	font-weight: bold;
	
	padding: 5px;
	
}


.checkout_container {

    display: flex;
    position: absolute;
    flex-direction: column;
    align-content: center;
    align-items: center;
    top: 5em;

}

.Payment_Method {

    flex-direction: row;
    position: absolute;
    left: 10em;

}

.Billing {

    position: absolute;
    flex-direction: row;
    right: 10em;


}

.Buttons{

    position: absolute;
    top: 30em;


}

.checkout_button {

    background-color: rgb(111, 124, 145);
    color: white;
    width: 100%;
	border-radius: 5px;

}


.item_modal_backdrop {
	
	  position: fixed;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  
	  z-index: 9000;
	  
	  background-color: rgba(0, 0, 0, 0.85);
	  
}

.item_modal_create {
	
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	z-index: 9001;
	
	overflow: hidden:
}


.modal_dialog {
	
	width: 550px;
	height: 600px;
	margin: 40px auto;
	background-color: hsl(0, 0%, 90%);
	border-radius: 10px;
	padding: 20px 20px;
	
	text-align: center;
	
}

.modal_header{
	
	position: relative;
	
}

.modal_header h4 {
	
	font-size: 20pt;
	
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	
}


.modal_close_button {
	
	  position: absolute;
	  right: -5px;
	  top: -20px;
	  
	  border: none;
	  
	  background: none;
	  
	  padding: 0;
	  
	  font-size: 20pt;
	  
	  cursor: pointer;

}

.item_image_input {
	
	margin: auto;
	margin-bottom: 25px;
	
}

.item_image{
	
	display: block;
	width: 15vw;
	height: 15vw;
	
	position: relative;
	
	margin: auto;
	
}


.foot{

    display: inline-block;
    margin-left: 3em;
    margin-right: 3em;

}

.footbar {

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(111, 124, 145);

}

.alert {
	display: inline-block;
	justify-content: center;
	background-color: rgb(255, 252, 107);
	border: 2px;
	border-color: rgb(255, 250, 0);
}

#alert_close {
	position: absolute;
	right: 0;
}


.hidden {

	display: none;

}

.always_hidden {

	display: none;

}
